@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full border-2 border-solid border-neutral-100 bg-neutral-500;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-600 ease-in-out;
  }
}

.root {
  font-family: "Montserrat", sans-serif;
}

.section {
  height: calc(100vh - 4.5rem);
}

.btn-primary {
  @apply rounded-full bg-[#221d1e] px-6 py-2 font-semibold text-white;
}
